{% load static %}
<!-- Header Area Start -->
<header class="header-area">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt="Logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false"
                            aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="index.html">Home</a>
                                        <a class="dropdown-item" href="about-me.html">About</a>
                                        <a class="dropdown-item" href="portfolio.html">Portfolio</a>
                                        <a class="dropdown-item" href="blog.html">Blog</a>
                                        <a class="dropdown-item" href="contact.html">Contact</a>
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about-me.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="portfolio.html">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">contact</a>
                                </li>
                            </ul>
                            <!-- Search Form -->
                            <div class="header-search-form ml-auto">
                                <form action="#">
                                    <input type="search" class="form-control"
                                        placeholder="Input your keyword then press enter..." id="search"
                                        name="search">
                                    <input class="d-none" type="submit" value="submit">
                                </form>
                            </div>
                            <!-- Search btn -->
                            <div id="searchbtn">
                                <img src="{% static 'img/core-img/search.png' %}" alt="">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Social Sidebar Area Start -->
<div class="social-sidebar-area bg-white">
    <!-- Social Area -->
    <div class="social-info-area">
        <a href="{{ info.facebook }}" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"
                aria-hidden="true"></i> <span>Facebook</span></a>
        <a href="{{ info.linkedin }}" data-toggle="tooltip" data-placement="right" title="Linkedin"><i class="fa fa-linkedin"
                aria-hidden="true"></i> <span>Linkedin</span></a>
        <a href="{{ info.pinterest }}" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"
                aria-hidden="true"></i> <span>Pinterest</span></a>
        <a href="{{ info.Instagram }}" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="fa fa-instagram"
                aria-hidden="true"></i> <span>Instagram</span></a>
    </div>
    {% if request.resolver_match.url_name == 'information' %}
    <div class="container about-ide">
        <h1 class="title">{{ info.title }}</h1>
        <p>{{ info.description }}</p>
        <button type="button" class="btn btn-ligh">About IdeBaz</button>
    </div>
    <!-- Message Box -->
    <div class="message-box">
        <a href="{{info.email}}" data-toggle="modal" data-target=".contact-modal-lg"><img src="{% static 'img/core-img/envelope.png' %}"
                alt=""></a>
    </div>
    {% endif %}
</div>
<!-- Social Sidebar Area End -->