{% extends 'base/main_base.html' %}
{% load static %}
{% block content %}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
        <!-- Carousel Inner -->
        <div class="carousel-inner h-100">
            {% for item in gallery %}
            <div class="carousel-item h-100 bg-img {% if forloop.first %} active{% endif %}" style="background-image: url({{ item.main_img.url }});">
                <div class="carousel-content h-100">
                    <div class="slide-text">
                        <span>{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}.</span>
                        <h2>{{ item.title }}</h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
                {% for item in gallery %}
                <li data-target="#welcomeSlider" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %} bg-img"
                style="background-image: url({{ item.thumbnail.url }});"></li>
                {% endfor %}
        </ol>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Contact Area Start ***** -->
<div class="contact-popup-form" id="contact-modal-lg">
    <div class="modal fade contact-modal-lg" tabindex="-1" role="dialog" aria-labelledby="contact-modal-lg"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-heading-text text-center mb-30">
                                <span></span>
                                <h2>Please get in touch</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <div class="container-fluid">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Your Name">
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email">
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                        placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn studio-btn mt-3"><img
                                            src="{% static 'img/core-img/logo-icon.png' %}" alt=""> Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area End ***** -->
{% endblock content %}