{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static%}
{% block content%}
<!-- Project Area Start -->
<div class="gallery_area clearfix">
    <div class="container-fluid clearfix">
        <div class="gallery_menu">
            <div class="portfolio-menu">
                <button class="active btn" type="button" data-filter="*">All</button>
                {% for cat in category %}
                <button class="btn" type="button" data-filter=".{{cat.slug}}">{{cat.title}}</button>
                {% endfor %}
            </div>
        </div>
        <div class="row portfolio-column">
            <!-- Single Item -->
            {% for item in projects %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits {% for cat in item.category.all %}{{ cat.slug }} {% endfor %}">
                {% thumbnail item.image "600x400" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <div class="hover_overlay">
                    <a class="gallery_img" href="{{ item.image.url }}"><i class="fa fa-eye"></i></a>
                    <a class="gallery_link" href="{{ item.slug }}"><i class="fa fa-link"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 text-center mt-70">
                <a href="#" class="btn studio-btn"><img src="{% static 'img/core-img/logo-icon.png' %}" alt=""> Load More</a>
            </div>
        </div>
    </div>
</div>
<!-- Project Area End -->
{% endblock %}