{% extends 'base/main_base.html' %}
{% load static %}
{% block content %}
<!-- About Me Area Start -->
<section class="about-me-area mt-100 section_padding_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="about-me-thumb">
                    <img src="{{ about.image.url }}" alt="{{ about.title }}">
                </div>
            </div>
            <div class="col-10">
                <div class="about-content mt-100 mb-100 text-center">
                    {% comment %} <span></span> {% endcomment %}
                    <h2>{{ about.title }}</h2>
                    <p>{{ about.description }}</p>
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    {% for item in services %}
                    <div class="col-12 col-md-4">
                        <div class="single-service-area section_padding_0_100 text-center wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">
                            <img src="{{ item.image_icon.url }}" alt="{{ item.title }}">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.description }}.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-10">
                <!-- Pie Bars Area Start -->
                <div class="our-skills-area text-center">
                    <div class="row">
                        {% for item in skills %}
                        <div class="col-12 col-sm-6 pt-5 col-md-3">
                            <div class="single-pie-bar" data-percent="{{ item.value }}">
                                <canvas class="bar-circle" width="100" height="100"></canvas>
                                <h6>{{ item.title }}</h6>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Me Area End -->
{% endblock content %}
