{% extends 'base/main_base.html' %}
{% load static%}
{% block content%}
<!-- Blog Area Start -->
<section class="blog-area section_padding_100 mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Blog Area -->
            {% for blog in article %}
            <div class="col-10">
                <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                    <div class="blog-thumbnail mb-100">
                        <img src="{{ blog.image.url }}" alt="">
                    </div>
                    <div class="blog-content">
                        <span></span>
                        <h2>{{ blog.title }}</h2>
                        <a href="#" class="post-date">{{ blog.created|date:"M d, Y" }}</a>
                        <a href="#" class="post-author">By {{ blog.author }}</a>
                        <p>{{ blog.description|truncatewords:65 }}</p>
                        <a href="#" class="btn studio-btn"><img src="{% static 'img/core-img/logo-icon.png' %}" alt=""> Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation" class="pagination-area mb-100">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                        <li class="page-item"><a class="page-link" href="#">02.</a></li>
                        <li class="page-item"><a class="page-link" href="#">03.</a></li>
                        <li class="page-item"><a class="page-link" href="#">04.</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->
{% endblock %}