{% load static %}
{% if request.resolver_match.url_name != 'information' %}
<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'img/core-img/map.png' %}" alt="">
                        <a href="#">{{ info.address }}</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'img/core-img/smartphone.png' %}" alt="">
                        <a href="tel:{{ info.phone }}">{{ info.phone }}</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'img/core-img/envelope-2.png' %}" alt="">
                        <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endif %}
<!-- Footer Area End -->